In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit
spark=SparkSession.builder.appName("Data frames").getOrCreate()

In [ ]:
df=spark.read.options(header=True, inferSchema=True).csv("/content/StudentData.csv")
df=df.withColumnRenamed("gender","sex")

In [ ]:
df.select(col("name").alias("Full Name")).show()

+----------------+
|       Full Name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

In [ ]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|   sex|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [ ]:
df.filter(df.course=="DB").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|   sex|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|  Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|Female|     Elenore Choy|    DB|  32877|   29|Billi Clore_Mitzi...|
| 29|  Male|  Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|   Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|   Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 28|Female| Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|      Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 28|  Male|    Kizzy Brenner|    DB| 381712|   36|Paris Hutton_Kena...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 29|  Male|     Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female| Mickey Cortright|    DB| 551389|   43|Tijuana Kropf_Jen...|
| 28|Female|Leontine Phillips|    DB| 602404|   48|Neda Briski_Cheri...|
| 28|Female|  Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|     Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male| Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|  Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|     Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 28|  Male|   Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 28|  Male|   Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 29|Female|     Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [ ]:
df.filter(col('course')=="DB").show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|   sex|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female|  Hubert Oliveras|    DB|   2984|   59|Annika Hoffman_Na...|
| 29|Female|     Elenore Choy|    DB|  32877|   29|Billi Clore_Mitzi...|
| 29|  Male|  Ernest Rossbach|    DB| 111449|   53|Maybell Duguay_Ab...|
| 28|Female|   Latia Vanhoose|    DB| 122502|   27|Latia Vanhoose_Mi...|
| 29|Female|   Latia Vanhoose|    DB| 152159|   27|Claude Panos_Sant...|
| 28|Female| Mickey Cortright|    DB| 192537|   62|Ernest Rossbach_M...|
| 28|Female|      Anna Santos|    DB| 311589|   79|Celeste Lollis_Mi...|
| 28|  Male|    Kizzy Brenner|    DB| 381712|   36|Paris Hutton_Kena...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 29|  Male|     Paris Hutton|    DB| 481229|   57|Clementina Menke_...|
| 28|Female| Mickey Cortright|    DB| 551389|   43|Tijuana Kropf_Jen...|
| 28|Female|Leontine Phillips|    DB| 602404|   48|Neda Briski_Cheri...|
| 28|Female|  Hubert Oliveras|    DB| 771081|   79|Kizzy Brenner_Dus...|
| 29|Female|     Elenore Choy|    DB| 811824|   55|Maybell Duguay_Me...|
| 29|  Male| Clementina Menke|    DB| 882200|   76|Michelle Ruggiero...|
| 29|Female|  Sebrina Maresca|    DB| 922210|   54|Toshiko Hillyard_...|
| 29|  Male|     Naoma Fritts|    DB| 931295|   79|Hubert Oliveras_S...|
| 28|  Male|   Annika Hoffman|    DB|1031544|   44|Dustin Feagins_So...|
| 28|  Male|   Nicole Harwood|    DB|1211495|   28|Melani Engberg_Jc...|
| 29|Female|     Claude Panos|    DB|1222887|   75|Hubert Oliveras_S...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows

In [ ]:
courses=["DB","Cloud","OOP","DSA"]
df.filter(df.course.isin(courses)).show()

+---+------+----------------+------+------+-----+--------------------+
|age|   sex|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|       Kena Wild| Cloud|221750|   60|Mitzi Seldon_Jenn...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|     Anna Santos| Cloud|242254|   68|Jc Andrepont_Hube...|
| 28|Female|  Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
| 28|Female|  Maybell Duguay| Cloud|261439|   20|Nicole Harwood_Ju...|
| 29|Female|    Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 29|Female|    Cheri Kenney| Cloud|281408|   43|Annika Hoffman_Me...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [ ]:
df.filter(df.course.startswith("D")).show()

+---+------+----------------+------+------+-----+--------------------+
|age|   sex|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
| 28|Female|    Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 29|Female|    Paris Hutton|   DSA|271472|   99|Sheryll Towler_Al...|
| 28|Female|  Dustin Feagins|   DSA|291984|   82|Abram Nagao_Kena ...|
| 28|Female|     Anna Santos|    DB|311589|   79|Celeste Lollis_Mi...|
| 28|Female|Mickey Cortright|   DSA|342003|   44|Mitzi Seldon_Jean...|
| 28|  Male|   Kizzy Brenner|    DB|381712|   36|Paris Hutton_Kena...|
| 28|  Male|Toshiko Hillyard|    DB|392218|   47|Leontine Phillips...|
| 29|Female|     Anna Santos|   DSA|411479|   42|Kena Wild_Mitzi S...|
| 28|Female|  Maybell Duguay|   DSA|452141|   29|Leontine Phillips...|
| 29|  Male|    Paris Hutton|    DB|481229|   57|Clementina Menke_...|
| 29|Female|    Paris Hutton|   DSA|492159|   60|Nicole Harwood_Ma...|
| 28|Female|Mickey Cortright|    DB|551389|   43|Tijuana Kropf_Jen...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [ ]:
df=spark.read.options(header=True, inferSchema=True).csv("/content/StudentData.csv")
df=df.withColumn("total marks",lit(120))

In [ ]:
df.withColumn("average", lit(col("marks")/col("total marks")))

DataFrame[age: int, gender: string, name: string, course: string, roll: int, marks: int, email: string, total marks: int, average: double]

In [ ]:
oopdf=df.filter((df.course=="OOP") & (df.marks>80))

In [ ]:
clouddf=df.filter((df.course=="Cloud") & (df.marks>60))

In [ ]:
oopdf.select("name","marks").show()

+------------------+-----+
|              name|marks|
+------------------+-----+
|    Alberta Freund|   83|
|       Billi Clore|   93|
|   Marylee Capasso|   86|
|      Claude Panos|   94|
|       Donna Yerby|   85|
|    Latia Vanhoose|   94|
|     Kizzy Brenner|   96|
|    Nicole Harwood|   88|
|    Jenna Montague|   98|
|      Elenore Choy|   90|
|       Billi Clore|   81|
|   Sebrina Maresca|   81|
|       Niki Klimek|   82|
|Priscila Tavernier|   99|
|    Jalisa Swenson|   92|
|      Paris Hutton|   82|
| Michelle Ruggiero|   96|
|      Judie Chipps|   94|
|    Jalisa Swenson|   84|
| Leontine Phillips|   86|
+------------------+-----+
only showing top 20 rows

In [ ]:
clouddf.select("name","marks").show()

+----------------+-----+
|            name|marks|
+----------------+-----+
|Toshiko Hillyard|   62|
|    Claude Panos|   85|
|     Anna Santos|   68|
|     Billi Clore|   76|
|  Somer Stoecker|   82|
|    Judie Chipps|   75|
|    Eda Neathery|   91|
|  Nicole Harwood|   62|
|  Jalisa Swenson|   70|
|    Eda Neathery|   69|
|  Bonita Higuera|   94|
| Hubert Oliveras|   94|
|Mickey Cortright|   71|
|     Neda Briski|   74|
|  Melani Engberg|   99|
|Jeannetta Golden|   67|
|    Paris Hutton|   79|
|    Eda Neathery|   95|
|     Neda Briski|   81|
|   Tijuana Kropf|   78|
+----------------+-----+
only showing top 20 rows

In [ ]:
df.show()

+---+------+----------------+------+------+-----+--------------------+-----------+
|age|gender|            name|course|  roll|marks|               email|total marks|
+---+------+----------------+------+------+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|        120|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|        120|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|        120|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|        120|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|        120|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|        120|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|        120|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        120|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|        120|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|        120|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|        120|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|        120|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|        120|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|        120|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|        120|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|        120|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|        120|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|        120|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|        120|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|        120|
+---+------+----------------+------+------+-----+--------------------+-----------+
only showing top 20 rows

In [ ]:
df.dropDuplicates(["gender","age"]).show()

+---+------+----------------+------+-----+-----+--------------------+-----------+
|age|gender|            name|course| roll|marks|               email|total marks|
+---+------+----------------+------+-----+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|        120|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|        120|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|        120|
| 29|  Male|  Cordie Harnois|   OOP|92882|   51|Judie Chipps_Clem...|        120|
+---+------+----------------+------+-----+-----+--------------------+-----------+

In [ ]:
df.dropDuplicates(["age","gender","course"]).count()

24

In [ ]:
df=spark.read.options(inferSchema=True, header=True).csv("/content/OfficeData.csv")
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [ ]:
df.sort(col('bonus')).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
+-------------+----------+-----+------+---+-----+

In [ ]:
df.sort(df.age.desc(),df.salary.asc()).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|      Michael|     Sales|   NY| 86000| 56|20000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|        James|     Sales|   NY| 90000| 34|10000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Maria|   Finance|   CA| 90000| 24|23000|
+-------------+----------+-----+------+---+-----+

In [ ]:
df.sort(df.age.desc(),df.bonus.desc(),df.salary.asc()).show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|      Michael|     Sales|   NY| 86000| 56|20000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|        James|     Sales|   NY| 90000| 34|10000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Maria|   Finance|   CA| 90000| 24|23000|
+-------------+----------+-----+------+---+-----+

In [ ]:
df=spark.read.options(header=True, inferSchema=True).csv("/content/StudentData.csv")
df.groupBy("gender").sum("marks").show()

+------+----------+
|gender|sum(marks)|
+------+----------+
|Female|     29636|
|  Male|     30461|
+------+----------+

In [ ]:
df.groupBy("course").count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [ ]:
df.groupBy("course","gender").avg("marks").show()

+------+------+------------------+
|course|gender|        avg(marks)|
+------+------+------------------+
|   OOP|  Male| 60.48571428571429|
|    DB|  Male| 61.86585365853659|
| Cloud|Female| 59.58490566037736|
|   MVC|  Male| 60.94186046511628|
|   DSA|Female| 62.48979591836735|
|    PF|  Male| 61.44329896907217|
|   MVC|Female|61.183098591549296|
| Cloud|  Male|59.616279069767444|
|    PF|Female| 57.57971014492754|
|   DSA|  Male| 61.87179487179487|
|    DB|Female|             55.96|
|   OOP|Female| 57.09756097560975|
+------+------+------------------+

In [ ]:
from pyspark.sql.functions import sum,avg,min,max,mean,count

In [ ]:
df.groupBy("course","gender").agg(count("*").alias("total_enrollments"),sum("marks"),min("marks"),max("marks"),avg("marks")).show()

+------+------+-----------------+----------+----------+----------+------------------+
|course|gender|total_enrollments|sum(marks)|min(marks)|max(marks)|        avg(marks)|
+------+------+-----------------+----------+----------+----------+------------------+
|   OOP|  Male|               70|      4234|        20|        99| 60.48571428571429|
|    DB|  Male|               82|      5073|        20|        98| 61.86585365853659|
| Cloud|Female|              106|      6316|        20|        99| 59.58490566037736|
|   MVC|  Male|               86|      5241|        22|        99| 60.94186046511628|
|   DSA|Female|               98|      6124|        20|        99| 62.48979591836735|
|    PF|  Male|               97|      5960|        20|        99| 61.44329896907217|
|   MVC|Female|               71|      4344|        22|        99|61.183098591549296|
| Cloud|  Male|               86|      5127|        21|        97|59.616279069767444|
|    PF|Female|               69|      3973|        20|        99| 57.57971014492754|
|   DSA|  Male|               78|      4826|        20|        99| 61.87179487179487|
|    DB|Female|               75|      4197|        20|        96|             55.96|
|   OOP|Female|               82|      4682|        21|        99| 57.09756097560975|
+------+------+-----------------+----------+----------+----------+------------------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit,udf
from pyspark.sql.functions import sum,avg,min,max,mean,count
spark=SparkSession.builder.appName("Data frames").getOrCreate()

In [ ]:
df=spark.read.options(inferSchema=True, header=True).csv("/content/StudentData.csv")

In [ ]:
df.groupBy("course").agg(count("*").alias("enrolled_students")).show()

+------+-----------------+
|course|enrolled_students|
+------+-----------------+
|    PF|              166|
|    DB|              157|
|   MVC|              157|
|   DSA|              176|
| Cloud|              192|
|   OOP|              152|
+------+-----------------+

In [ ]:
df.groupBy("course","gender").agg(count("*").alias("enrolled_students")).show()

+------+------+-----------------+
|course|gender|enrolled_students|
+------+------+-----------------+
|   OOP|  Male|               70|
|    DB|  Male|               82|
| Cloud|Female|              106|
|   MVC|  Male|               86|
|   DSA|Female|               98|
|    PF|  Male|               97|
|   MVC|Female|               71|
| Cloud|  Male|               86|
|    PF|Female|               69|
|   DSA|  Male|               78|
|    DB|Female|               75|
|   OOP|Female|               82|
+------+------+-----------------+

In [ ]:
df.groupBy("course","gender").agg(sum("marks").alias("total_marks")).show()

+------+------+-----------+
|course|gender|total_marks|
+------+------+-----------+
|   OOP|  Male|       4234|
|    DB|  Male|       5073|
| Cloud|Female|       6316|
|   MVC|  Male|       5241|
|   DSA|Female|       6124|
|    PF|  Male|       5960|
|   MVC|Female|       4344|
| Cloud|  Male|       5127|
|    PF|Female|       3973|
|   DSA|  Male|       4826|
|    DB|Female|       4197|
|   OOP|Female|       4682|
+------+------+-----------+

In [ ]:
df.groupBy("course","age").agg(min("marks"),max("marks"),avg("marks")).show()

+------+---+----------+----------+------------------+
|course|age|min(marks)|max(marks)|        avg(marks)|
+------+---+----------+----------+------------------+
|   MVC| 28|        23|        99| 60.44444444444444|
|   MVC| 29|        22|        99| 61.56470588235294|
| Cloud| 28|        20|        99|             58.08|
|    PF| 29|        20|        99|56.275862068965516|
|    PF| 28|        20|        98| 63.75949367088607|
|   OOP| 29|        20|        99|59.729729729729726|
|   DSA| 28|        20|        99|  64.6867469879518|
| Cloud| 29|        21|        98|             61.25|
|    DB| 28|        21|        98| 58.76829268292683|
|   DSA| 29|        20|        99| 60.01075268817204|
|   OOP| 28|        23|        99| 57.64102564102564|
|    DB| 29|        20|        98|59.346666666666664|
+------+---+----------+----------+------------------+

In [ ]:
df=spark.read.text("/content/WordData.txt")
df.groupBy("value").count().show()

+------+-----+
| value|count|
+------+-----+
|   Mic|   10|
| Chair|   15|
|  Book|    5|
|Laptop|    5|
|   Bag|    5|
|Mobile|    5|
| Apple|   10|
+------+-----+

In [ ]:
from pyspark.sql.types import IntegerType
df=spark.read.options(header=True, inferSchema=True).csv("/content/OfficeData.csv")

In [ ]:
def total_sal(sal,bonus):
  return sal+bonus

totalSalUDF=udf(lambda x,y: total_sal(x,y), IntegerType())
df.withColumn("total_sal", totalSalUDF("salary","bonus")).show()

+-------------+----------+-----+------+---+-----+---------+
|employee_name|department|state|salary|age|bonus|total_sal|
+-------------+----------+-----+------+---+-----+---------+
|        James|     Sales|   NY| 90000| 34|10000|   100000|
|      Michael|     Sales|   NY| 86000| 56|20000|   106000|
|       Robert|     Sales|   CA| 81000| 30|23000|   104000|
|        Maria|   Finance|   CA| 90000| 24|23000|   113000|
|        Raman|   Finance|   CA| 99000| 40|24000|   123000|
|        Scott|   Finance|   NY| 83000| 36|19000|   102000|
|          Jen|   Finance|   NY| 79000| 53|15000|    94000|
|         Jeff| Marketing|   CA| 80000| 25|18000|    98000|
|        Kumar| Marketing|   NY| 91000| 50|21000|   112000|
+-------------+----------+-----+------+---+-----+---------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit,udf
from pyspark.sql.functions import sum,avg,min,max,mean,count
spark=SparkSession.builder.appName("Data frames").getOrCreate()

In [ ]:
df=spark.read.options(inferSchema=True, header=True).csv("/content/OfficeData.csv")

In [ ]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [ ]:
def sal_increment(sal, bonus, state):
  increment=((0.1*sal)+((0.05)*bonus)) if state=="NY" else ((0.12*sal)+((0.03)*bonus)) if state=="CA" else None
  return increment
salIncrementUDF=udf(lambda sal,bonus,state: sal_increment(sal,bonus,state))
df=df.withColumn("increment",salIncrementUDF(col("salary"),col("bonus"),col("state")))

In [ ]:
df.show()

+-------------+----------+-----+------+---+-----+---------+
|employee_name|department|state|salary|age|bonus|increment|
+-------------+----------+-----+------+---+-----+---------+
|        James|     Sales|   NY| 90000| 34|10000|   9500.0|
|      Michael|     Sales|   NY| 86000| 56|20000|   9600.0|
|       Robert|     Sales|   CA| 81000| 30|23000|  10410.0|
|        Maria|   Finance|   CA| 90000| 24|23000|  11490.0|
|        Raman|   Finance|   CA| 99000| 40|24000|  12600.0|
|        Scott|   Finance|   NY| 83000| 36|19000|   9250.0|
|          Jen|   Finance|   NY| 79000| 53|15000|   8650.0|
|         Jeff| Marketing|   CA| 80000| 25|18000|  10140.0|
|        Kumar| Marketing|   NY| 91000| 50|21000|  10150.0|
+-------------+----------+-----+------+---+-----+---------+

In [ ]:
rdd=df.rdd
type(rdd)

pyspark.rdd.RDD

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField,StructType,IntegerType,StringType
from pyspark.sql.functions import lit,col,udf,count,max,min,avg,sum

In [ ]:
spark=SparkSession.builder.appName("Sql").getOrCreate()
df=spark.read.options(header=True, inferSchema=True).csv("/content/StudentData.csv")

In [ ]:
df.createOrReplaceTempView("student")

In [ ]:
spark.sql("select name from student").show()

+----------------+
|            name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

In [ ]:
df.write.mode("overwrite").options(header=True).csv("/content/outputs/StudentData/")

In [ ]:
#Modes in writing file
#overwrite mode
#append mode
#ignore
#error

In [ ]:
df=spark.read.options(header=True, inferSchema=True).csv("/content/OfficeDataProject.csv")

In [ ]:
df.count()

1000

In [ ]:
df.dropDuplicates(["department"]).count()

6

In [ ]:
df.dropDuplicates(["department"]).select("department").show()

+----------+
|department|
+----------+
|     Sales|
|        HR|
|   Finance|
|Purchasing|
| Marketing|
|  Accounts|
+----------+

In [ ]:
df.groupBy("department").agg(count("*").alias("employee_per_dept")).show()

+----------+-----------------+
|department|employee_per_dept|
+----------+-----------------+
|     Sales|              169|
|        HR|              171|
|   Finance|              162|
|Purchasing|              166|
| Marketing|              170|
|  Accounts|              162|
+----------+-----------------+

In [ ]:
df.groupBy("state").agg(count("*").alias("emp_per_state")).show()

+-----+-------------+
|state|emp_per_state|
+-----+-------------+
|   LA|          205|
|   CA|          205|
|   WA|          208|
|   NY|          173|
|   AK|          209|
+-----+-------------+

In [ ]:
df.groupBy("state","department").agg(count("*").alias("emp_per_state")).show()

+-----+----------+-------------+
|state|department|emp_per_state|
+-----+----------+-------------+
|   CA|     Sales|           42|
|   CA| Marketing|           33|
|   NY|  Accounts|           34|
|   NY|     Sales|           27|
|   CA|   Finance|           35|
|   CA|  Accounts|           35|
|   CA|Purchasing|           32|
|   WA|        HR|           47|
|   AK|Purchasing|           30|
|   WA|  Accounts|           27|
|   WA|Purchasing|           38|
|   AK|     Sales|           38|
|   AK|  Accounts|           37|
|   WA| Marketing|           39|
|   LA|        HR|           41|
|   LA|     Sales|           35|
|   AK|        HR|           25|
|   LA|   Finance|           29|
|   AK|   Finance|           37|
|   LA|Purchasing|           45|
+-----+----------+-------------+
only showing top 20 rows

In [ ]:
df.groupBy("department").agg(min("salary").alias("min_sal_dept"),max("salary").alias("max_sal_dept")).sort(col("min_sal_dept").asc(),col("max_sal_dept").asc()).show()

+----------+------------+------------+
|department|min_sal_dept|max_sal_dept|
+----------+------------+------------+
|   Finance|        1006|        9899|
|  Accounts|        1007|        9890|
|        HR|        1013|        9982|
| Marketing|        1031|        9974|
|     Sales|        1103|        9982|
|Purchasing|        1105|        9985|
+----------+------------+------------+

In [ ]:
avgBonus=df.filter(df.state=="NY").groupBy("state").agg(avg("bonus").alias("avg_bonus")).select("avg_bonus").collect()[0]['avg_bonus']

In [ ]:
df.filter((df.state=="NY") & (df.department=="Finance") & (df.bonus>avgBonus)).show()

+-----------+--------------------+----------+-----+------+---+-----+
|employee_id|       employee_name|department|state|salary|age|bonus|
+-----------+--------------------+----------+-----+------+---+-----+
|       1035|       Vivan Sifford|   Finance|   NY|  1129| 35| 1261|
|       1073|      Herder Gallman|   Finance|   NY|  1988| 31| 1402|
|       1082|          Nena Rocha|   Finance|   NY|  3417| 25| 1647|
|       1087|       Leif Lemaster|   Finance|   NY|  8642| 45| 1782|
|       1100|Ellingsworth Meli...|   Finance|   NY|  7845| 32| 1358|
|       1127|        Escoto Gilma|   Finance|   NY|  3426| 41| 1285|
|       1161|     Georgeanna Laub|   Finance|   NY|  2469| 26| 1679|
|       1175|     Durio Tenenbaum|   Finance|   NY|  2253| 42| 1684|
|       1180|       Juliana Grigg|   Finance|   NY|  8178| 42| 1617|
|       1215|        Tiffani Benz|   Finance|   NY|  1665| 41| 1969|
|       1220|          Nitz Ilana|   Finance|   NY|  2443| 50| 1342|
|       1342|   Phylicia Antonina|   Finance|   NY|  8626| 30| 1857|
|       1414|         Durio Janey|   Finance|   NY|  2992| 46| 1733|
|       1660|       Melissia Jere|   Finance|   NY|  9201| 21| 1533|
|       1737|      Yukiko Kreamer|   Finance|   NY|  7396| 20| 1332|
|       1738|      Nena Kensinger|   Finance|   NY|  8534| 41| 1610|
|       1815|      Antonina Ilana|   Finance|   NY|  2944| 28| 1718|
+-----------+--------------------+----------+-----+------+---+-----+

In [ ]:
def incrementSal(age,sal):
  sal= 500+sal if age>45 else sal
  return sal
incrementUDF= udf(lambda age,sal: incrementSal(age,sal), IntegerType())
df.show()
df.withColumn("salary", incrementUDF(col("age"),col("salary"))).show()

+-----------+-------------------+----------+-----+------+---+-----+
|employee_id|      employee_name|department|state|salary|age|bonus|
+-----------+-------------------+----------+-----+------+---+-----+
|       1000|          Nitz Leif| Marketing|   CA|  6131| 26|  543|
|       1001|    Melissia Dedman|   Finance|   AK|  4027| 43| 1290|
|       1002|  Rudolph Barringer|        HR|   LA|  3122| 43| 1445|
|       1003|        Tamra Amber|  Accounts|   AK|  5717| 47| 1291|
|       1004|        Mullan Nitz|Purchasing|   CA|  5685| 34| 1394|
|       1005|      Zollner Karie|  Accounts|   CA|  2843| 27| 1078|
|       1006|Kaczorowski Zollner|     Sales|   CA|  7201| 21| 1834|
|       1007|      Nakano Locust| Marketing|   LA|  3444| 23| 1823|
|       1008|  Recalde Kensinger|  Accounts|   LA|  3704| 48| 1330|
|       1009|        Imai Hallie|  Accounts|   AK|  5061| 38| 1557|
|       1010|    Debroah Gallman|  Accounts|   NY|  9308| 35|  817|
|       1011|   Barringer Escoto|Purchasing|   WA|  1685| 49| 1706|
|       1012|      Soules Coogan|  Accounts|   AK|  8330| 43| 1914|
|       1013|      Luisa Suzanne|  Accounts|   CA|  1151| 37| 1095|
|       1014|      Marvis Cobian|Purchasing|   NY|  5061| 41| 1765|
|       1015|   Cobian Kensinger|     Sales|   LA|  1983| 21|  632|
|       1016|      Gilma Margret| Marketing|   CA|  2919| 45| 1762|
|       1017| Ellingsworth Ilana|  Accounts|   WA|  9614| 26| 1964|
|       1018| Vankirk Jacquelyne|Purchasing|   NY|  8636| 47| 1192|
|       1019|    Zollner Juliana|        HR|   NY|  9739| 30| 1119|
+-----------+-------------------+----------+-----+------+---+-----+
only showing top 20 rows

+-----------+-------------------+----------+-----+------+---+-----+
|employee_id|      employee_name|department|state|salary|age|bonus|
+-----------+-------------------+----------+-----+------+---+-----+
|       1000|          Nitz Leif| Marketing|   CA|  6131| 26|  543|
|       1001|    Melissia Dedman|   Finance|   AK|  4027| 43| 1290|
|       1002|  Rudolph Barringer|        HR|   LA|  3122| 43| 1445|
|       1003|        Tamra Amber|  Accounts|   AK|  6217| 47| 1291|
|       1004|        Mullan Nitz|Purchasing|   CA|  5685| 34| 1394|
|       1005|      Zollner Karie|  Accounts|   CA|  2843| 27| 1078|
|       1006|Kaczorowski Zollner|     Sales|   CA|  7201| 21| 1834|
|       1007|      Nakano Locust| Marketing|   LA|  3444| 23| 1823|
|       1008|  Recalde Kensinger|  Accounts|   LA|  4204| 48| 1330|
|       1009|        Imai Hallie|  Accounts|   AK|  5061| 38| 1557|
|       1010|    Debroah Gallman|  Accounts|   NY|  9308| 35|  817|
|       1011|   Barringer Escoto|Purchasing|   WA|  2185| 49| 1706|
|       1012|      Soules Coogan|  Accounts|   AK|  8330| 43| 1914|
|       1013|      Luisa Suzanne|  Accounts|   CA|  1151| 37| 1095|
|       1014|      Marvis Cobian|Purchasing|   NY|  5061| 41| 1765|
|       1015|   Cobian Kensinger|     Sales|   LA|  1983| 21|  632|
|       1016|      Gilma Margret| Marketing|   CA|  2919| 45| 1762|
|       1017| Ellingsworth Ilana|  Accounts|   WA|  9614| 26| 1964|
|       1018| Vankirk Jacquelyne|Purchasing|   NY|  9136| 47| 1192|
|       1019|    Zollner Juliana|        HR|   NY|  9739| 30| 1119|
+-----------+-------------------+----------+-----+------+---+-----+
only showing top 20 rows

In [ ]:
df.filter(df.age>45).write.options(header=True).mode("overwrite").csv("/content/outputs/employee")