In [ ]:
print("Hello")

Hello

In [ ]:
from pyspark import SparkConf, SparkContext

In [ ]:
conf = SparkConf().setAppName("Read file")

In [ ]:
sc= SparkContext.getOrCreate(conf=conf)

In [ ]:
rdd= sc.textFile("/content/sample.txt.txt")

In [ ]:
rdd2=rdd.map(lambda x: x+ "Nabeel")

In [ ]:
rdd2.collect()

['1 2 4 5Nabeel', '2 45 66 77 7Nabeel', '1 3 5 6Nabeel', '23Nabeel']

In [ ]:
def foo(x):
  return x.split(' ')

rdd.map(foo).collect()

[['1', '2', '4', '5'],
 ['2', '45', '66', '77', '7'],
 ['1', '3', '5', '6'],
 ['23']]

In [ ]:
qd=sc.textFile("/content/quiz.txt")
qd.collect()

['Hi how are you?', 'Hope you are doing', 'great']

In [ ]:
def transform(item):
  l1=item.split(' ')
  l2=[]
  for i in l1:
    l2.append(len(i))
  return l2

qd1=qd.map(transform)

In [ ]:
qd1.flatMap(lambda x: x).collect()

[2, 3, 3, 4, 4, 3, 3, 5, 5]

In [ ]:
sq=sc.textFile("/content/quiz.txt")

In [ ]:
sq.map(lambda x: x.split(' ')).flatMap(lambda x: x).filter(lambda x: not x.startswith('c')).filter(lambda x: not x.startswith('a')).collect()

['this', 'mango', 'dog', 'mic', 'laptop', 'switch', 'mobile']

In [ ]:

sq.flatMap(lambda x: x.split(' ')).map(lambda x: (x,1)).reduceByKey(lambda x,y: x+y).collect()

[('this', 1),
 ('dog', 1),
 ('ant', 2),
 ('mic', 1),
 ('laptop', 1),
 ('chair', 1),
 ('charger', 1),
 ('cover', 1),
 ('alarm', 1),
 ('mango', 1),
 ('company', 1),
 ('animal', 1),
 ('cat', 1),
 ('switch', 1),
 ('mobile', 1),
 ('am', 1),
 ('amanda', 1),
 ('any', 1)]

In [ ]:
from pyspark import SparkConf, SparkContext
conf = SparkConf().setAppName("Average")
sc= SparkContext.getOrCreate(conf=conf)

In [ ]:
rdd=sc.textFile("/content/movie_ratings.csv")
rdd.collect()

['The Shawshank Redemption,3',
 'The Matrix,5',
 '12 Angry Men,3',
 '12 Angry Men,4',
 'The Matrix,5',
 'Pulp Fiction,4',
 'The Godfather,5',
 'The Shawshank Redemption,2',
 'Pulp Fiction,4',
 'The Godfather,5',
 '12 Angry Men,2',
 'The Godfather,3',
 'Pulp Fiction,4',
 '12 Angry Men,1',
 'The Shawshank Redemption,2',
 '12 Angry Men,1',
 'The Shawshank Redemption,5',
 'Pulp Fiction,5',
 'Pulp Fiction,2',
 'The Matrix,4']

In [ ]:
rdd2=rdd.map(lambda x: (x.split(',')[0], int(x.split(',')[1])))

In [ ]:
rdd2.collect()

[('The Shawshank Redemption', 3),
 ('The Matrix', 5),
 ('12 Angry Men', 3),
 ('12 Angry Men', 4),
 ('The Matrix', 5),
 ('Pulp Fiction', 4),
 ('The Godfather', 5),
 ('The Shawshank Redemption', 2),
 ('Pulp Fiction', 4),
 ('The Godfather', 5),
 ('12 Angry Men', 2),
 ('The Godfather', 3),
 ('Pulp Fiction', 4),
 ('12 Angry Men', 1),
 ('The Shawshank Redemption', 2),
 ('12 Angry Men', 1),
 ('The Shawshank Redemption', 5),
 ('Pulp Fiction', 5),
 ('Pulp Fiction', 2),
 ('The Matrix', 4)]

In [ ]:
rdd2.map(lambda x: (x[0],(x[1],1))).reduceByKey(lambda x,y: (x[0]+y[0],x[1]+y[1])).saveAsTextFile("/content/op1")

In [ ]:
rdd=sc.textFile("/content/average_quiz_sample.csv")

In [ ]:
rdd2=rdd.map(lambda x: (x.split(',')[0],((float(x.split(',')[2]),1))))

In [ ]:
rdd2.collect()

[('JAN', (3.0, 1)),
 ('JAN', (1.0, 1)),
 ('JAN', (2.0, 1)),
 ('JAN', (4.0, 1)),
 ('FEB', (1.0, 1)),
 ('FEB', (1.0, 1)),
 ('FEB', (2.0, 1)),
 ('FEB', (1.0, 1)),
 ('MAR', (2.0, 1)),
 ('MAR', (1.0, 1)),
 ('MAR', (2.0, 1)),
 ('MAR', (3.0, 1))]

In [ ]:
rdd2.reduceByKey(lambda x,y: (x[0]+y[0],x[1]+y[1])).map(lambda x: (x[0],(x[1][0]/x[1][1]))).collect()

[('JAN', 2.5), ('FEB', 1.25), ('MAR', 2.0)]

In [ ]:
from pyspark import SparkConf, SparkContext
conf = SparkConf().setAppName("Min max")
sc= SparkContext.getOrCreate(conf=conf)

In [ ]:
rdd=sc.textFile("/content/average_quiz_sample.csv")
final_rdd=rdd.map(lambda x: (x.split(',')[1],float(x.split(',')[2]))).reduceByKey(lambda x,y: x if x<y else y)

In [ ]:
final_rdd.collect()

[('NY', 1.0), ('PA', 1.0), ('NJ', 1.0), ('CT', 4.0), ('VT', 1.0)]

In [ ]:
rdd=sc.textFile("/content/StudentData.csv")
header=rdd.first()
rdd=rdd.filter(lambda x: x!=header)
rdd.count()
rdd2=rdd.map(lambda x: x.split(','))

In [ ]:
rdd2.map(lambda x: (x[1],int(x[5]))).reduceByKey(lambda x,y: x+y).collect()

[('Female', 29636), ('Male', 30461)]

In [ ]:
rdd2.filter(lambda x: int(x[5])>50).count()

630

In [ ]:
rdd2.map(lambda x: (x[3],1)).reduceByKey(lambda x,y: x+y).collect()

[('PF', 166),
 ('DSA', 176),
 ('DB', 157),
 ('Cloud', 192),
 ('MVC', 157),
 ('OOP', 152)]

In [ ]:
rdd2.map(lambda x: (x[3],x[5])).reduceByKey(lambda x,y: int(x)+int(y)).collect()

[('PF', 9933),
 ('DSA', 10950),
 ('DB', 9270),
 ('Cloud', 11443),
 ('MVC', 9585),
 ('OOP', 8916)]

In [ ]:
rdd2.map(lambda x: (x[3],(int(x[5]),1))).reduceByKey(lambda x,y: (x[0]+y[0],x[1]+y[1])).map(lambda x: (x[0], x[1][0] / x[1][1])).collect()

[('PF', 59.83734939759036),
 ('DSA', 62.21590909090909),
 ('DB', 59.044585987261144),
 ('Cloud', 59.598958333333336),
 ('MVC', 61.05095541401274),
 ('OOP', 58.6578947368421)]

In [ ]:
rdd2.map(lambda x: (x[3],int(x[5]))).reduceByKey(lambda x,y: x if x<y else y).collect()

[('PF', 20), ('DSA', 20), ('DB', 20), ('Cloud', 20), ('MVC', 22), ('OOP', 20)]

In [ ]:
rdd2.map(lambda x: (x[3],int(x[5]))).reduceByKey(lambda x,y: x if x>y else y).collect()

[('PF', 99), ('DSA', 99), ('DB', 98), ('Cloud', 99), ('MVC', 99), ('OOP', 99)]

In [ ]:
rdd2.map(lambda x: (x[1],(int(x[0]),1))).reduceByKey(lambda x,y: (x[0]+y[0],x[1]+y[1])).mapValues(lambda x: x[0]/x[1]).collect()

[('Female', 28.489021956087825), ('Male', 28.52304609218437)]

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Spark DF").getOrCreate()

In [ ]:
df=spark.read.options(inferSchema=True, header=True, delimeter=',').csv("/content/StudentData.csv")

In [ ]:
df.show()
df.printSchema()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType

schema= StructType([StructField("age", IntegerType(), True),
                    StructField("gender", StringType(), True),
                    StructField("name", StringType(), True),
                    StructField("course", StringType(), True),
                    StructField("roll", StringType(), True),
                    StructField("marks", IntegerType(), True),
                    StructField("email", StringType(), True)
                  ])

In [ ]:
df=spark.read.options(header=True).schema(schema).csv("/content/StudentData.csv")

In [ ]:
df.show()
df.printSchema()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
from pyspark import SparkConf, SparkContext
conf=SparkConf().setAppName("RDD")
sc=SparkContext.getOrCreate(conf=conf)
rdd=sc.textFile("/content/StudentData.csv")
headers=rdd.first()
rdd=rdd.filter(lambda x: x!=headers).map(lambda x: x.split(','))
rdd=rdd.map(lambda x: [int(x[0]),x[1],x[2],x[3],x[4],int(x[5]),x[6]])

In [ ]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType

schema= StructType([StructField("age", IntegerType(), True),
                    StructField("gender", StringType(), True),
                    StructField("name", StringType(), True),
                    StructField("course", StringType(), True),
                    StructField("roll", StringType(), True),
                    StructField("marks", IntegerType(), True),
                    StructField("email", StringType(), True)
                  ])

In [ ]:
dfRdd=spark.createDataFrame(rdd, schema=schema)

dfRdd.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Spark DF").getOrCreate()
df=spark.read.options(inferSchema=True, header=True).csv("/content/StudentData.csv")
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [ ]:
df.select("gender","name").show()

+------+----------------+
|gender|            name|
+------+----------------+
|Female| Hubert Oliveras|
|Female|Toshiko Hillyard|
|  Male|  Celeste Lollis|
|Female|    Elenore Choy|
|  Male|  Sheryll Towler|
|  Male|  Margene Moores|
|  Male|     Neda Briski|
|Female|    Claude Panos|
|  Male|  Celeste Lollis|
|  Male|  Cordie Harnois|
|Female|       Kena Wild|
|  Male| Ernest Rossbach|
|Female|  Latia Vanhoose|
|Female|  Latia Vanhoose|
|  Male|     Neda Briski|
|Female|  Latia Vanhoose|
|  Male|  Loris Crossett|
|  Male|  Annika Hoffman|
|  Male|   Santa Kerfien|
|Female|Mickey Cortright|
+------+----------------+
only showing top 20 rows

In [ ]:
df.select(df.name, df.email).show()

+----------------+--------------------+
|            name|               email|
+----------------+--------------------+
| Hubert Oliveras|Annika Hoffman_Na...|
|Toshiko Hillyard|Margene Moores_Ma...|
|  Celeste Lollis|Jeannetta Golden_...|
|    Elenore Choy|Billi Clore_Mitzi...|
|  Sheryll Towler|Claude Panos_Judi...|
|  Margene Moores|Toshiko Hillyard_...|
|     Neda Briski|Alberta Freund_El...|
|    Claude Panos|Sheryll Towler_Al...|
|  Celeste Lollis|Nicole Harwood_Cl...|
|  Cordie Harnois|Judie Chipps_Clem...|
|       Kena Wild|Dustin Feagins_Ma...|
| Ernest Rossbach|Maybell Duguay_Ab...|
|  Latia Vanhoose|Latia Vanhoose_Mi...|
|  Latia Vanhoose|Eda Neathery_Nico...|
|     Neda Briski|Margene Moores_Mi...|
|  Latia Vanhoose|Claude Panos_Sant...|
|  Loris Crossett|Mitzi Seldon_Jenn...|
|  Annika Hoffman|Taryn Brownlee_Mi...|
|   Santa Kerfien|Judie Chipps_Tary...|
|Mickey Cortright|Ernest Rossbach_M...|
+----------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col ,lit
df.select(col("roll"), col("name")).show()

+------+----------------+
|  roll|            name|
+------+----------------+
|  2984| Hubert Oliveras|
| 12899|Toshiko Hillyard|
| 21267|  Celeste Lollis|
| 32877|    Elenore Choy|
| 41487|  Sheryll Towler|
| 52771|  Margene Moores|
| 61973|     Neda Briski|
| 72409|    Claude Panos|
| 81492|  Celeste Lollis|
| 92882|  Cordie Harnois|
|102285|       Kena Wild|
|111449| Ernest Rossbach|
|122502|  Latia Vanhoose|
|132110|  Latia Vanhoose|
|141770|     Neda Briski|
|152159|  Latia Vanhoose|
|161771|  Loris Crossett|
|171660|  Annika Hoffman|
|182129|   Santa Kerfien|
|192537|Mickey Cortright|
+------+----------------+
only showing top 20 rows

In [ ]:
df.select('*').show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [ ]:
df.select(df.columns[2:6]).show()

+----------------+------+------+-----+
|            name|course|  roll|marks|
+----------------+------+------+-----+
| Hubert Oliveras|    DB|  2984|   59|
|Toshiko Hillyard| Cloud| 12899|   62|
|  Celeste Lollis|    PF| 21267|   45|
|    Elenore Choy|    DB| 32877|   29|
|  Sheryll Towler|   DSA| 41487|   41|
|  Margene Moores|   MVC| 52771|   32|
|     Neda Briski|   OOP| 61973|   69|
|    Claude Panos| Cloud| 72409|   85|
|  Celeste Lollis|   MVC| 81492|   64|
|  Cordie Harnois|   OOP| 92882|   51|
|       Kena Wild|   DSA|102285|   35|
| Ernest Rossbach|    DB|111449|   53|
|  Latia Vanhoose|    DB|122502|   27|
|  Latia Vanhoose|   MVC|132110|   55|
|     Neda Briski|    PF|141770|   42|
|  Latia Vanhoose|    DB|152159|   27|
|  Loris Crossett|   MVC|161771|   36|
|  Annika Hoffman|   OOP|171660|   22|
|   Santa Kerfien|    PF|182129|   56|
|Mickey Cortright|    DB|192537|   62|
+----------------+------+------+-----+
only showing top 20 rows

In [ ]:
df.select('marks',col('email'),df.roll,'course').show()

+-----+--------------------+------+------+
|marks|               email|  roll|course|
+-----+--------------------+------+------+
|   59|Annika Hoffman_Na...|  2984|    DB|
|   62|Margene Moores_Ma...| 12899| Cloud|
|   45|Jeannetta Golden_...| 21267|    PF|
|   29|Billi Clore_Mitzi...| 32877|    DB|
|   41|Claude Panos_Judi...| 41487|   DSA|
|   32|Toshiko Hillyard_...| 52771|   MVC|
|   69|Alberta Freund_El...| 61973|   OOP|
|   85|Sheryll Towler_Al...| 72409| Cloud|
|   64|Nicole Harwood_Cl...| 81492|   MVC|
|   51|Judie Chipps_Clem...| 92882|   OOP|
|   35|Dustin Feagins_Ma...|102285|   DSA|
|   53|Maybell Duguay_Ab...|111449|    DB|
|   27|Latia Vanhoose_Mi...|122502|    DB|
|   55|Eda Neathery_Nico...|132110|   MVC|
|   42|Margene Moores_Mi...|141770|    PF|
|   27|Claude Panos_Sant...|152159|    DB|
|   36|Mitzi Seldon_Jenn...|161771|   MVC|
|   22|Taryn Brownlee_Mi...|171660|   OOP|
|   56|Judie Chipps_Tary...|182129|    PF|
|   62|Ernest Rossbach_M...|192537|    DB|
+-----+--------------------+------+------+
only showing top 20 rows

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Spark with col demo").getOrCreate()
df=spark.read.options(header=True, inferSchema=True).csv("/content/StudentData.csv")

In [ ]:
from pyspark.sql.functions import col,lit
df.withColumn("roll",col("roll").cast("String")).printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [ ]:
df.withColumn("marks", col("marks")+10).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   69|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [ ]:
df.withColumn("aggregated marks", col("marks")-10).show()

+---+------+----------------+------+------+-----+--------------------+----------------+
|age|gender|            name|course|  roll|marks|               email|aggregated marks|
+---+------+----------------+------+------+-----+--------------------+----------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|              49|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|              52|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|              35|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|              19|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|              31|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|              22|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|              59|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|              75|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|              54|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|              41|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|              25|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|              43|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|              17|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|              45|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|              32|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|              17|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|              26|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|              12|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|              46|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|              52|
+---+------+----------------+------+------+-----+--------------------+----------------+
only showing top 20 rows

In [ ]:
df.withColumn("Country",lit("USA")).show()

+---+------+----------------+------+------+-----+--------------------+-------+
|age|gender|            name|course|  roll|marks|               email|Country|
+---+------+----------------+------+------+-----+--------------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|    USA|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|    USA|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|    USA|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|    USA|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|    USA|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|    USA|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|    USA|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|    USA|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|    USA|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|    USA|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|    USA|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|    USA|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|    USA|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|    USA|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|    USA|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|    USA|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|    USA|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|    USA|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|    USA|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|    USA|
+---+------+----------------+------+------+-----+--------------------+-------+
only showing top 20 rows

In [ ]:
df.withColumn("marks",col("marks")-10).withColumn("updated-mark",col("marks")+10).show()

+---+------+----------------+------+------+-----+--------------------+------------+
|age|gender|            name|course|  roll|marks|               email|updated-mark|
+---+------+----------------+------+------+-----+--------------------+------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   49|Annika Hoffman_Na...|          59|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   52|Margene Moores_Ma...|          62|
| 28|  Male|  Celeste Lollis|    PF| 21267|   35|Jeannetta Golden_...|          45|
| 29|Female|    Elenore Choy|    DB| 32877|   19|Billi Clore_Mitzi...|          29|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   31|Claude Panos_Judi...|          41|
| 28|  Male|  Margene Moores|   MVC| 52771|   22|Toshiko Hillyard_...|          32|
| 28|  Male|     Neda Briski|   OOP| 61973|   59|Alberta Freund_El...|          69|
| 28|Female|    Claude Panos| Cloud| 72409|   75|Sheryll Towler_Al...|          85|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   54|Nicole Harwood_Cl...|          64|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   41|Judie Chipps_Clem...|          51|
| 29|Female|       Kena Wild|   DSA|102285|   25|Dustin Feagins_Ma...|          35|
| 29|  Male| Ernest Rossbach|    DB|111449|   43|Maybell Duguay_Ab...|          53|
| 28|Female|  Latia Vanhoose|    DB|122502|   17|Latia Vanhoose_Mi...|          27|
| 29|Female|  Latia Vanhoose|   MVC|132110|   45|Eda Neathery_Nico...|          55|
| 29|  Male|     Neda Briski|    PF|141770|   32|Margene Moores_Mi...|          42|
| 29|Female|  Latia Vanhoose|    DB|152159|   17|Claude Panos_Sant...|          27|
| 29|  Male|  Loris Crossett|   MVC|161771|   26|Mitzi Seldon_Jenn...|          36|
| 29|  Male|  Annika Hoffman|   OOP|171660|   12|Taryn Brownlee_Mi...|          22|
| 29|  Male|   Santa Kerfien|    PF|182129|   46|Judie Chipps_Tary...|          56|
| 28|Female|Mickey Cortright|    DB|192537|   52|Ernest Rossbach_M...|          62|
+---+------+----------------+------+------+-----+--------------------+------------+
only showing top 20 rows

In [ ]:
df.withColumnRenamed("gender","sex").show()

+---+------+----------------+------+------+-----+--------------------+
|age|   sex|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows